## Main notebook for EDA Assignment
#### Make sure to go through the steps in the `data/README.md` file
#### To ensure you have your project setup correctly before using this file

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline
print("Setup Complete")

Setup Complete

In [7]:
# Load the data from the CSV file
file_path = 'data/final_dataset.csv'
results_df = pd.read_csv(file_path)

# Drop the first column
results_df = results_df.drop(results_df.columns[0], axis=1)

# Display inofrmation about the data
results_df.info()
results_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 39 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           6840 non-null   object
 1   HomeTeam       6840 non-null   object
 2   AwayTeam       6840 non-null   object
 3   FTHG           6840 non-null   int64
 4   FTAG           6840 non-null   int64
 5   FTR            6840 non-null   object
 6   HTGS           6840 non-null   int64
 7   ATGS           6840 non-null   int64
 8   HTGC           6840 non-null   int64
 9   ATGC           6840 non-null   int64
 10  HTP            6840 non-null   float64
 11  ATP            6840 non-null   float64
 12  HM1            6840 non-null   object
 13  HM2            6840 non-null   object
 14  HM3            6840 non-null   object
 15  HM4            6840 non-null   object
 16  HM5            6840 non-null   object
 17  AM1            6840 non-null   object
 18  AM2            6840 non-null   object
 19  AM3            6840 non-null   object
 20  AM4            6840 non-null   object
 21  AM5            6840 non-null   object
 22  MW             6840 non-null   float64
 23  HTFormPtsStr   6840 non-null   object
 24  ATFormPtsStr   6840 non-null   object
 25  HTFormPts      6840 non-null   int64
 26  ATFormPts      6840 non-null   int64
 27  HTWinStreak3   6840 non-null   int64
 28  HTWinStreak5   6840 non-null   int64
 29  HTLossStreak3  6840 non-null   int64
 30  HTLossStreak5  6840 non-null   int64
 31  ATWinStreak3   6840 non-null   int64
 32  ATWinStreak5   6840 non-null   int64
 33  ATLossStreak3  6840 non-null   int64
 34  ATLossStreak5  6840 non-null   int64
 35  HTGD           6840 non-null   float64
 36  ATGD           6840 non-null   float64
 37  DiffPts        6840 non-null   float64
 38  DiffFormPts    6840 non-null   float64
dtypes: float64(7), int64(16), object(16)
memory usage: 2.0+ MB

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,ATGC,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
0,19/08/00,Charlton,Man City,4,0,H,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,19/08/00,Chelsea,West Ham,4,2,H,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,19/08/00,Coventry,Middlesbrough,1,3,NH,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
3,19/08/00,Derby,Southampton,2,2,NH,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,19/08/00,Leeds,Everton,2,0,H,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0