## Main notebook for EDA Assignment
#### Make sure to go through the steps in the `data/README.md` file
#### To ensure you have your project setup correctly before using this file

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline
print("Setup Complete")

Setup Complete

In [19]:
# Combine season 2000 - 2018 data exclude 2019-20 and 2020-21
# Load the data
season_2000_01 = pd.read_csv('data/Datasets/2000-01.csv')
season_2001_02 = pd.read_csv('data/Datasets/2001-02.csv')
season_2002_03 = pd.read_csv('data/Datasets/2002-03.csv')
season_2003_04 = pd.read_csv('data/Datasets/2003-04.csv')
season_2004_05 = pd.read_csv('data/Datasets/2004-05.csv')
season_2005_06 = pd.read_csv('data/Datasets/2005-06.csv')
season_2006_07 = pd.read_csv('data/Datasets/2006-07.csv')
season_2007_08 = pd.read_csv('data/Datasets/2007-08.csv')
season_2008_09 = pd.read_csv('data/Datasets/2008-09.csv')
season_2009_10 = pd.read_csv('data/Datasets/2009-10.csv')
season_2010_11 = pd.read_csv('data/Datasets/2010-11.csv')
season_2011_12 = pd.read_csv('data/Datasets/2011-12.csv')
season_2012_13 = pd.read_csv('data/Datasets/2012-13.csv')
season_2013_14 = pd.read_csv('data/Datasets/2013-14.csv')
season_2014_15 = pd.read_csv('data/Datasets/2014-15.csv')
season_2015_16 = pd.read_csv('data/Datasets/2015-16.csv')
season_2016_17 = pd.read_csv('data/Datasets/2016-17.csv')
season_2017_18 = pd.read_csv('data/Datasets/2017-18.csv')
# NOTE: We are excluding 2018-19 and 2019-20 season data as it is incomplete
season_2020_21 = pd.read_csv('data/2020-2021.csv')
season_2021_22 = pd.read_csv('data/2021-2022.csv')

In [20]:
# Required columns
columns = ['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR',
           'Referee', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HF', 'AF', 'HY', 'AY', 'HR']

# Combine all the dataframes into one with the required columns
seasons = [season_2000_01, season_2001_02, season_2002_03, season_2003_04, season_2004_05, season_2005_06,
           season_2006_07, season_2007_08, season_2008_09, season_2009_10, season_2010_11, season_2011_12,
           season_2012_13, season_2013_14, season_2014_15, season_2015_16, season_2016_17, season_2017_18]

# Combine all the dataframes into one with the required columns
results_data = pd.concat([df[columns] for df in seasons], ignore_index=True)

# Save the combined dataframe to a csv file
results_data.to_csv('data/all_match_results.csv', index=False)

# Display the first 5 rows of the combined dataframe
results_data.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR
0,19/08/00,Charlton,Man City,4,0,H,2,0,H,Rob Harris,...,8,14,4,6,6,13,12,1,2,0
1,19/08/00,Chelsea,West Ham,4,2,H,1,0,H,Graham Barber,...,12,10,5,7,7,19,14,1,2,0
2,19/08/00,Coventry,Middlesbrough,1,3,A,1,1,D,Barry Knight,...,16,3,9,8,4,15,21,5,3,1
3,19/08/00,Derby,Southampton,2,2,D,1,2,A,Andy D'Urso,...,13,4,6,5,8,11,13,1,1,0
4,19/08/00,Leeds,Everton,2,0,H,2,0,H,Dermot Gallagher,...,12,8,6,6,4,21,20,1,3,0